1) Write a python program to display all the header tags from wikipedia.org and make data frame.

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

web = requests.get("https://en.wikipedia.org/wiki/Main_Page")
print(web)
soup = BeautifulSoup(web.content)

header = []

for i in soup.find_all('span',class_="mw-headline"):
    header.append(i.text)
    
df = pd.DataFrame({'Header_tags': header})

print(df)

<Response [200]>
                     Header_tags
0           Welcome to Wikipedia
1  From today's featured article
2               Did you know ...
3                    In the news
4                    On this day
5       Today's featured picture
6       Other areas of Wikipedia
7    Wikipedia's sister projects
8            Wikipedia languages

2) Write s python program to display list of respected former presidents of India(i.e. Name , Term ofoffice)
from https://currentaffairs.adda247.com/list-of-presidents-of-india/ and make data frame.

In [73]:
page = requests.get("https://currentaffairs.adda247.com/list-of-presidents-of-india/")
print(page)

soup = BeautifulSoup(page.content)

pres = soup.find("table")

names = []
start_dates = []
end_dates = []

for row in pres.find_all("tr")[1:]:
    columns = row.find_all("td")
    name = columns[0].text.strip()
    term = columns[1].text.strip()

    term_parts = term.split(" to ")
    if len(term_parts) == 2:
        start_date, end_date = term_parts
    else:
        start_date = end_date = term_parts[0]
    
    names.append(name)
    start_dates.append(start_date)
    end_dates.append(end_date)
    
df = pd.DataFrame({'Name': names, 'Start Date': start_dates, 'End Date': end_dates})

print(df[1:])

<Response [200]>
                            Name       Start Date         End Date
1            Dr. Rajendra Prasad  26 January 1950  26 January 1950
2   Dr. Sarvepalli Radhakrishnan      13 May 1962      13 May 1962
3              Dr. Zakir Hussain      13 May 1967      13 May 1967
4        Varahagiri Venkata Giri       3 May 1969       3 May 1969
5        Varahagiri Venkata Giri   24 August 1969   24 August 1969
6           Fakhruddin Ali Ahmed   24 August 1974   24 August 1974
7           Neelam Sanjiva Reddy     25 July 1977     25 July 1977
8               Giani Zali Singh     25 July 1982     25 July 1982
9         Ramaswamy Venkataraman     25 July 1987     25 July 1987
10          Shankar Dayal Sharma     25 July 1992     25 July 1992
11      Kocheril Raman Narayanan     25 July 1997     25 July 1997
12        Dr. A.P.J. Abdul Kalam     25 July 2002     25 July 2002
13                Pratibha Patil     25 July 2007     25 July 2007
14              Pranab Mukherjee     25 July 2012     25 July 2012
15          Shri Ram Nath Kovind     25 July 2017     25 July 2017
16                Draupadi Murmu     21 July 2022     21 July 2022

3) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame

a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

b) Top 10 ODI Batsmen along with the records of their team andrating.

c) Top 10 ODI bowlers along with the records of their team andrating.

In [72]:
# a)
page = requests.get("https://www.icc-cricket.com/rankings/mens/team-rankings/odi")
print(page)
soup = BeautifulSoup(page.content)

teams = []
matches = []
points = []
ratings = []

top_team = soup.find('tr', class_='rankings-block__banner')
teams.append(top_team.find('span', class_='u-hide-phablet').text.strip())
matches.append(top_team.find('td', class_='rankings-block__banner--matches').text.strip())
points.append(top_team.find('td', class_='rankings-block__banner--points').text.strip())
ratings.append(top_team.find('td', class_="rankings-block__banner--rating u-text-right").text.strip())

other_teams = soup.find_all('tr', class_='table-body')
for team in other_teams:
    teams.append(team.find('span', class_='u-hide-phablet').text.strip())
    matches.append(team.find_all('td')[2].text.strip())
    points.append(team.find_all('td')[3].text.strip())
    ratings.append(team.find_all('td')[4].text.strip())

df = pd.DataFrame({'Team': teams,'Matches': matches,'Points': points,'Ratings': ratings})
df.head(10)

<Response [200]>

           Team Matches Points Ratings
0     Australia      27  3,112     115
1      Pakistan      27  3,102     115
2         India      40  4,558     114
3       England      28  2,942     105
4  South Africa      23  2,386     104
5   New Zealand      31  3,110     100
6    Bangladesh      33  3,107      94
7     Sri Lanka      37  3,448      93
8   Afghanistan      21  1,687      80
9   West Indies      38  2,582      68

 3) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame

b) Top 10 ODI Batsmen along with the records of their team and rating.

In [44]:
cric = requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting")
print(cric)

soup = BeautifulSoup(cric.content)

players = soup.find('table',class_="table rankings-table").find_all('tr')

batsmen =[]
teams =[]
ratings =[]

for player in players[1:11]:
    columns = player.find_all('td')
    
    if len(columns) >= 5:
        rating = columns[4].get_text(strip=True).split(" ")[0]
        batsman = columns[1].text.strip()
        team = columns[2].text.strip()

        batsmen.append(batsman)
        teams.append(team)
        ratings.append(rating)

df = pd.DataFrame({"Rating":ratings,'Batsmen':batsmen,'Team':teams})
df

<Response [200]>

  Rating                Batsmen Team
0    898             Babar Azam  PAK
1    763           Shubman Gill  IND
2    796  Rassie van der Dussen   SA
3    880           David Warner  AUS
4    815            Imam-ul-Haq  PAK
5    726           Harry Tector  IRE
6    813        Quinton de Kock   SA
7    911            Virat Kohli  IND
8    885           Rohit Sharma  IND
9    784           Fakhar Zaman  PAK

3) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame

c) Top 10 ODI bowlers along with the records of their team andrating.

In [48]:
cric = requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling")
print(cric)

soup = BeautifulSoup(cric.content)

players = soup.find('table',class_="table rankings-table").find_all('tr')

bowlers =[]
teams =[]
ratings =[]

for player in players[1:11]:
    columns = player.find_all('td')
    
    if len(columns) >= 5:
        rating = columns[3].get_text(strip=True).split(" ")[0]
        bowler = columns[1].text.strip()
        team = columns[2].text.strip()

        bowlers.append(bowler)
        teams.append(team)
        ratings.append(rating)

df = pd.DataFrame({"Rating":ratings,'Bowler':bowlers,'Team':teams})
df

<Response [200]>

  Rating            Bowler Team
0    692    Josh Hazlewood  AUS
1    666    Mitchell Starc  AUS
2    666       Trent Boult   NZ
3    663        Adam Zampa  AUS
4    658        Matt Henry   NZ
5    657  Mujeeb Ur Rahman  AFG
6    656     Kuldeep Yadav  IND
7    655       Rashid Khan  AFG
8    643    Mohammed Siraj  IND
9    635    Shaheen Afridi  PAK

4) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame

a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [61]:
cric = requests.get("https://www.icc-cricket.com/rankings/womens/team-rankings/odi")
print(cric)

soup = BeautifulSoup(cric.content)

players = soup.find('div',class_="rankings-block__container full rankings-table").find_all('tr')

teams =[]
matches =[]
ratings =[]
points =[]

for player in players[1:11]:
    columns = player.find_all('td')
    
    if len(columns) >= 5:
        rating = columns[4].text.strip()
        match = columns[2].text.strip()
        team = columns[1].text.strip().split('\n')[0]
        point = columns[3].text.strip()

        points.append(point)
        teams.append(team)
        ratings.append(rating)
        matches.append(match)
        

df = pd.DataFrame({"Team":teams,'Matches':matches,'Points':points,"Rating":ratings})
df

<Response [200]>

           Team Matches Points Rating
0     Australia      26  4,290    165
1       England      31  3,875    125
2  South Africa      26  3,098    119
3         India      30  3,039    101
4   New Zealand      28  2,688     96
5   West Indies      29  2,743     95
6    Bangladesh      17  1,284     76
7     Sri Lanka      12    820     68
8      Thailand      13    883     68
9      Pakistan      27  1,678     62

4) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame

b) Top 10 women’s ODI Batting players along with the records of their team and rating.

In [64]:
cric = requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting")
print(cric)

soup = BeautifulSoup(cric.content)

players = soup.find('table',class_="table rankings-table").find_all('tr')

batsmen =[]
teams =[]
ratings =[]

for player in players[1:11]:
    columns = player.find_all('td')
    
    if len(columns) >= 5:
        rating = columns[3].get_text(strip=True).split(" ")[0]
        batsman = columns[1].text.strip()
        team = columns[2].text.strip()

        batsmen.append(batsman)
        teams.append(team)
        ratings.append(rating)

df = pd.DataFrame({"Rating":ratings,'Batsmen':batsmen,'Team':teams})
df

<Response [200]>

  Rating               Batsmen Team
0    801  Natalie Sciver-Brunt  ENG
1    751           Beth Mooney  AUS
2    743   Chamari Athapaththu   SL
3    708       Laura Wolvaardt   SA
4    708       Smriti Mandhana  IND
5    702          Alyssa Healy  AUS
6    694      Harmanpreet Kaur  IND
7    686          Ellyse Perry  AUS
8    682           Meg Lanning  AUS
9    618       Stafanie Taylor   WI

4) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame

c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [66]:
cric = requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder")
print(cric)

soup = BeautifulSoup(cric.content)

players = soup.find('table',class_="table rankings-table").find_all('tr')

batsmen =[]
teams =[]
ratings =[]

for player in players[1:11]:
    columns = player.find_all('td')
    
    if len(columns) >= 5:
        rating = columns[3].get_text(strip=True).split(" ")[0]
        batsman = columns[1].text.strip()
        team = columns[2].text.strip()

        batsmen.append(batsman)
        teams.append(team)
        ratings.append(rating)

df = pd.DataFrame({"Rating":ratings,'Batsmen':batsmen,'Team':teams})
df

<Response [200]>

  Rating               Batsmen Team
0    398  Natalie Sciver-Brunt  ENG
1    389      Ashleigh Gardner  AUS
2    382       Hayley Matthews   WI
3    362        Marizanne Kapp   SA
4    329          Ellyse Perry  AUS
5    328           Amelia Kerr   NZ
6    312         Deepti Sharma  IND
7    241         Jess Jonassen  AUS
8    233         Sophie Devine   NZ
9    217              Nida Dar  PAK

5) Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world and
make data framei) Headline
ii) Time
iii) News Link

In [74]:
page = requests.get("https://www.cnbc.com/world/?region=world")
print(page)
soup = BeautifulSoup(page.content)

news = soup.find_all('div', class_="LatestNews-container")

headlines = []
times = []
links = []
for item in news:
    headline = item.find('a', class_='LatestNews-headline')
    time = item.find('span',class_="LatestNews-wrapper")
    link = headline['href'] if headline else None
    
    headline_text = headline.text.strip() if headline else None
    time_text = time.text.strip() if time else None
    
    headlines.append(headline_text)
    times.append(time_text)
    links.append(link)
    
df = pd.DataFrame({'Headline': headlines, 'Time': times, 'News Link': links})
print(df)

<Response [200]>
                                             Headline                Time  \
0   These are the 11 sectors of the S&P 500 — and ...          46 Min Ago
1   No. 1 tip for starting a side hustle, from 2 m...          1 Hour Ago
2   These are the top 10 states for young workers,...         2 Hours Ago
3   Why health insurance is poised to make inflati...         2 Hours Ago
4   Hollywood pays a steep price for never really ...         3 Hours Ago
5   Disney asset sales won't break the bank, but t...         3 Hours Ago
6   It’s been one year since the Ethereum merge. H...         3 Hours Ago
7   Behind Warren Buffett's $100 billion-plus bet ...         3 Hours Ago
8   One individual investor favorite has endured e...         3 Hours Ago
9   Stellantis offers raises, inflation protection...        21 Hours Ago
10  Strong retail sales despite stubborn inflation...        21 Hours Ago
11  4 things the world's longest-living people do ...        24 Hours Ago
12  How Olipop's founders started a soda brand bri...  September 16, 2023
13  Here are three things we're watching in the ma...  September 16, 2023
14  U.S. states where property taxes are highest—N...  September 16, 2023
15  The No. 1 thing successful parents who raise t...  September 16, 2023
16  Mark Cuban: If someone says they can make you ...  September 16, 2023
17  Top investor Jenny Harrington breaks down her ...  September 16, 2023
18  3 financial tips for couples moving in togethe...  September 16, 2023
19  Analysts said obesity drugs would be blockbust...  September 16, 2023
20  Analysts see stocks like Microsoft offering 'd...  September 16, 2023
21  Stocks churn with the S&P 500 sitting at the s...  September 16, 2023
22  We gave the $2.1 million Rimac Nevera electric...  September 16, 2023
23  Trump lashes out at Jack Smith's bid for parti...  September 15, 2023
24       Cramer's Lightning Round: Sell Joby Aviation  September 15, 2023
25  Cramer's week ahead: Pay attention to the Fede...  September 15, 2023
26  Okta CEO on MGM breach: Companies are under 'm...  September 15, 2023
27  Jack Smith wants Trump barred from posting on ...  September 15, 2023
28  Adobe falls after posting quarterly results. H...  September 15, 2023
29  Bernie Sanders calls out automaker CEOs at UAW...  September 15, 2023

                                            News Link
0   https://www.cnbc.com/2023/09/17/the-11-sectors...
1   https://www.cnbc.com/2023/09/17/rachel-jimenez...
2   https://www.cnbc.com/2023/09/17/these-are-the-...
3   https://www.cnbc.com/2023/09/17/why-health-ins...
4   https://www.cnbc.com/2023/09/17/hollywood-stre...
5   https://www.cnbc.com/2023/09/17/disney-asset-s...
6   https://www.cnbc.com/2023/09/17/its-been-one-y...
7   https://www.cnbc.com/2023/09/17/buffett-calls-...
8   https://www.cnbc.com/2023/09/17/one-individual...
9   https://www.cnbc.com/2023/09/16/stellantis-off...
10  https://www.cnbc.com/2023/09/16/strong-retail-...
11  https://www.cnbc.com/2023/09/16/4-things-the-w...
12  https://www.cnbc.com/2023/09/16/how-olipops-fo...
13  https://www.cnbc.com/2023/09/16/here-are-three...
14  https://www.cnbc.com/2023/09/16/us-states-wher...
15  https://www.cnbc.com/2023/09/16/the-no-1-paren...
16  https://www.cnbc.com/2023/09/16/mark-cuban-if-...
17  https://www.cnbc.com/2023/09/16/top-investor-j...
18  https://www.cnbc.com/2023/09/16/3-financial-ti...
19  https://www.cnbc.com/2023/09/16/analysts-raisi...
20  https://www.cnbc.com/2023/09/16/stocks-like-mi...
21  https://www.cnbc.com/2023/09/16/stocks-churn-w...
22  https://www.cnbc.com/2023/09/16/rimac-nevera-e...
23  https://www.cnbc.com/2023/09/15/trump-lashes-o...
24  https://www.cnbc.com/2023/09/15/cramers-lightn...
25  https://www.cnbc.com/2023/09/15/cramers-week-a...
26  https://www.cnbc.com/2023/09/15/okta-ceo-on-mg...
27  https://www.cnbc.com/2023/09/15/special-counse...
28  https://www.cnbc.com/2023/09/15/adobe-falls-af...
29  https://www.cnbc.com/2023/09/15/sanders-to-add...

6) Write a python program to scrape the details of most downloaded articles from AI in last 90
days.https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare
Scrape below mentioned details and make data framei) Paper Title
ii) Authors
iii) Published Date
iv) Paper URL

In [23]:
page = requests.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')
print(page)

soup = BeautifulSoup(page.content)

titles = [] 
authors = [] 
volume_sales = [] 
publishers = []
genres = []

books = soup.find('table', class_='in-article sortable').find_all('tr')

for row in books[1:]:  
    columns = row.find_all('td')
    
    if len(columns) >= 5:
        title = columns[1].text
        author = columns[2].text
        sales = columns[3].text
        publisher = columns[4].text
        genre = columns[5].text

        titles.append(title)
        authors.append(author)
        volume_sales.append(sales)
        publishers.append(publisher)
        genres.append(genre)

df = pd.DataFrame({'Title': titles,'Author': authors,'Volume Sales': volume_sales,'Publisher': publishers,'Genre': genres})
print(df)

<Response [200]>
                                                Title              Author  \
0                                  Da Vinci Code,The          Brown, Dan
1               Harry Potter and the Deathly Hallows       Rowling, J.K.
2           Harry Potter and the Philosopher's Stone       Rowling, J.K.
3          Harry Potter and the Order of the Phoenix       Rowling, J.K.
4                               Fifty Shades of Grey        James, E. L.
..                                                ...                 ...
95                                         Ghost,The      Harris, Robert
96                    Happy Days with the Naked Chef       Oliver, Jamie
97             Hunger Games,The:Hunger Games Trilogy    Collins, Suzanne
98   Lost Boy,The:A Foster Child's Search for the ...       Pelzer, Dave
99   Jamie's Ministry of Food:Anyone Can Learn to ...      Oliver, Jamie

   Volume Sales          Publisher                          Genre
0    5,094,805         Transworld    Crime, Thriller & Adventure
1    4,475,152         Bloomsbury             Children's Fiction
2    4,200,654         Bloomsbury             Children's Fiction
3    4,179,479         Bloomsbury             Children's Fiction
4    3,758,936       Random House                Romance & Sagas
..          ...                ...                            ...
95     807,311       Random House     General & Literary Fiction
96     794,201            Penguin          Food & Drink: General
97     792,187    Scholastic Ltd.            Young Adult Fiction
98     791,507              Orion             Biography: General
99     791,095            Penguin          Food & Drink: General

[100 rows x 5 columns]

7) Write a python program to scrape mentioned details from dineout.co.inand make data frame

i) Restaurant name
ii) Cuisine
iii) Location
iv) Ratings
v) Image URL

In [75]:
page= requests.get('https://www.dineout.co.in/delhi-restaurants/buffet-special')
print(page)

soup = BeautifulSoup(page.content)
name =[] 
locs =[] 
cousine =[] 
img =[]
rating = []

for i in soup.find_all('div',class_ = "restnt-info cursor"):
    name.append(i.a.text)
    
for i in soup.find_all('div',class_="restnt-loc ellipsis"):
    locs.append(i.text)

for i in soup.find_all('span',class_="double-line-ellipsis"):
    cousine.append(i.a.text)

for i in soup.find_all('img',class_="no-img"):
    img.append(i['data-src'])

for i in soup.find_all('div',class_="restnt-rating rating-4"):
    rating.append(i.text)
    
df = pd.DataFrame({'Titles':name,'Location':locs,'Cousine':cousine,'Image url':img,'Rating':rating})
print(df)

<Response [200]>
                             Titles  \
0                   Castle Barbeque
1                        Cafe Knosh
2                 Castle's Barbeque
3                       India Grill
4              The Barbeque Company
5                    Delhi Barbeque
6  The Monarch - Bar Be Que Village
7                 Indian Grill Room
8                The Barbeque Times

                                            Location       Cousine  \
0                     Connaught Place, Central Delhi       Chinese
1  The Leela Ambience Convention Hotel,Shahdara, ...       Italian
2             Pacific Mall,Tagore Garden, West Delhi       Chinese
3               Hilton Garden Inn,Saket, South Delhi  North Indian
4                 Gardens Galleria,Sector 38A, Noida  North Indian
5     Taurus Sarovar Portico,Mahipalpur, South Delhi  North Indian
6  Indirapuram Habitat Centre,Indirapuram, Ghaziabad  North Indian
7   Suncity Business Tower,Golf Course Road, Gurgaon  North Indian
8              M2K Corporate Park,Sector 51, Gurgaon  North Indian

                                           Image url Rating
0  https://im1.dineout.co.in/images/uploads/resta...      4
1  https://im1.dineout.co.in/images/uploads/resta...    4.3
2  https://im1.dineout.co.in/images/uploads/resta...    3.9
3  https://im1.dineout.co.in/images/uploads/resta...    3.9
4  https://im1.dineout.co.in/images/uploads/resta...    3.9
5  https://im1.dineout.co.in/images/uploads/resta...    3.7
6  https://im1.dineout.co.in/images/uploads/resta...    3.8
7  https://im1.dineout.co.in/images/uploads/resta...    4.3
8  https://im1.dineout.co.in/images/uploads/resta...    4.1